.header {
	background-color: purple;
}/***********************
    Jumbotron

***********************/
h1 {
	color: yellow;
	font-family: 'helvetica', sans-serif;
	font-size: 48px;
	text-align: center;
}

p {
	font-size: 30px;
	color: blue;
}
